:root {
    font-family: 'Helvetica Neue' , "Helvetica" , sans-serif;
    font-weight: bold;
    font-size: 16pt;
    color: #ffffff;
    text-decoration-color: #ffffff;
    background: #1e1e1e;
  	padding: 16px 0;
  	color: #ff0000;
    }

.logo {
    position: block;
    margin: 2px auto;
    }

.nav-content {
    position: static;
    max-width: 1024px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.nav-content a {
    position: static;
    display: block;
    font-size: 16pt;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    transition: all 0.3s;
    color: #ffffff;
}

.nav-content a:hover {
    color: transparent;
}

.nav-links {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
    background-color: #1e1e1e;
}


.nav-links a:hover{
    background: transparent;
    color: #ff0000;
    opacity: 100%;
    }

.nav-links a:active{
    background: transparent;
    color: #ff0000;
    opacity: 100%;
    }


.nav-icon {
    display: none;
    grid-gap: 4px;
    grid-template-columns: auto;
    padding: 16px 0;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-icon :hover{
    background: transparent;
    opacity: 48%;
    }



.show .one {
    transform: rotate(45deg) translateY(6.5px);
}

.show .two {
    transform: rotate(-45deg) translateY(-6.5px);
}

header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  // sets up hover state
  position: relative;
  top: 0;
  transition: all .1s ease-in;
    
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    margin: 0;
    color: #ff0000;
  }
  
  p {
    flex: 1;
    line-height: 1.4;
  }
  
  span {
    font-size: 12px;
    font-weight: bold;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;
    
    h1 {
      font-size: 24px;
    }
  }
}

.article {
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.article .a{
    text-decoration: none;
    text-align: center;
    postition: relative;
    
}

.article :hover{
    background: transparent;
    color: #ff0000;
    }

.article :img {
    display: grid;
    color: #000000;
    cursor: pointer;
    margin: 8 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

.tiles {
  display: grid;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  align-content: stretch;
  text-align: center;
  position: relative;
  justify-items: center;
  align-items: center;
  justify-content: center;
  }

  &
  __description {
    padding: 20px;
  display: block;
  h1 {font-size: 1.68em;
  margin-bottom: 16px;}
  h2 {font-size: 1.68em;
  margin-bottom: 16px;}
  p {line-height: 1.2;}
    
    .project-btn {
  display: block;
  margin: 16px 0;
  padding: 20px;
  text-align: center;
  border: 4pt solid #ffffff;

    }
  ul li {
      display: inline-block;
    }
  ul li:first-child {
      font-size: 16px;
    }
  ul li a {
      display: block;
  /* padding: 5px 10px; */
  /* border: 4pt solid #ffffff; */
  /* border-radius: 0px; */
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 168ms ease;
      &:
  hover {
        color: (#ff0000);
      }
    }
  }
;
  .align-items: center;
  .justify-content: center;
  .justify-items: center;
}

.youtube-video {
aspect-ratio: 16 / 9;
width: 100%;
align-content: middle;

} 

.video-container { 
position: relative; 
padding-bottom: 56.25%; 
padding-top: 30px; 
height: 0; 
overflow: hidden; 
align-content: middle;
}

.video-container iframe, .video-container object, .video-container embed { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
align-content: middle;
}

.tiles .img {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

  .tiles a {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

h1 , h2 , ul, ol, li, head {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt ;
    leading: 1.2pt;
}

h3, h4, p, body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

u, hr {
    color: transparent;
    background-color: #ff0000;
    height: 4pt;
    border: 0pt;
}

a:link , a:visited {
    background-color: #1e1e1e;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a:active, a:hover {
    background-color: transparent;
    color: #ff0000;
}

img {
    color: transparent;
    display: inline-flex;
    cursor: pointer;
    margin: 16;
    border-radius: 16px;
    align-content: ceneter;
    text-align: center;
    position: inherit;
}

.cover {
  object-fit: cover;
  max-height: auto;
  min-width: 325;
  max-width: 975;

}

.footer__payment-icons {
    display: table-footer-group;
    grid-gap: 8px;
    grid-template-columns: inherit;
    padding: auto;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    background: #1e1e1e;
    margin: 16px;
    text-align: center;
    }
    
footer a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 8px;
    /* font-weight: bold; */
    font-size: 16pt;
}  

footer ul{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    float: left; 
    }
    
footer :hover{
    background: transparent;
    color: #ff0000;
    }

div .copyright{
    text-align: center;
}


@media (max-width: 980px) {
   .show {
        background-color: transparent;
    }

.bar {
    height: 4pt;
    width: 16pt;
    background: #ffffff;
    transition: 0.5s;
}

.show .one {
    transform: rotate(45deg) translateY(5pt);
}

.show .two {
    transform: rotate(-45deg) translateY(-5pt);
}
    
.logo {
    position: block;
    margin: 2px auto;
    display: flex;

    }
    
h1 , h2 , ul, ol, li, head, heading, mono {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt;
    leading: 1.2pt;
}

h3, h4, p , body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
    .nav-links {
        position: sticky;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        background: #ffffff;
        background-color: #1e1e1e;
        opacity: 100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
background-color 0.3s;
    }
    
    .nav-links a:hover{
        background: #;
        color: #ff0000;
        opacity: 100%;
    }
    
    .show .nav-links {
        height: 100%;
        background-color: #1e1e1e;
        opacity: 100%;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
            background-color 0.3s;
    }
    
    .nav-links a {
        height: 0;
        width: 0;
        opacity: 100;
        overflow: hidden;
        margin-top: 48px;
        margin-right: 48px;
        margin-left: 48px;
        transition: opacity 1.5s, height 2s;
    }
    
    .show .nav-links a {
        opacity: 100;
        width: auto;
        height: auto;
    }
    
    .nav-icon {
        order: 1;
        display: grid;
    }
    
.article {
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.article .a{
    text-decoration: none;
    text-align: center;
    postition: relative;
    
}

.article :hover{
    background: transparent;
    color: #ff0000;
    }

.article :img {
    display: grid;
    color: #000000;
    cursor: pointer;
    margin: 8 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

.tiles {
  display: grid;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  align-content: stretch;
  text-align: center;
  position: relative;
  justify-items: center;
  align-items: center;
  justify-content: center;
  }

  &
  __description {
    padding: 20px;
  display: block;
  h1 {font-size: 1.68em;
  margin-bottom: 16px;}
  h2 {font-size: 1.68em;
  margin-bottom: 16px;}
  p {line-height: 1.2;}
    
    .project-btn {
  display: block;
  margin: 16px 0;
  padding: 20px;
  text-align: center;

    }
  ul li {
      display: inline-block;
    }
  ul li:first-child {
      font-size: 16px;
    }
  ul li a {
      display: block;
  /* padding: 5px 10px; */
  /* border: 4pt solid #ffffff; */
  /* border-radius: 0px; */
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 168ms ease;
      &:
  hover {
        color: (#ff0000);
      }
    }
  }
;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.tiles .img {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

  .tiles a {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

h1 , h2 , ul, ol, li, head {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt ;
    leading: 1.2pt;
}

h3, h4, p, body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

u, hr {
    color: transparent;
    background-color: #ff0000;
    height: 4pt;
    border: 0pt;
}

a:link , a:visited {
    background-color: #1e1e1e;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a:active, a:hover {
    background-color: transparent;
    color: #ff0000;
}

img {
    color: transparent;
    cursor: pointer;
    margin: 8;
    border-radius: 16px;
    align-content: center;
    text-align: center;
    position: relative;
}

.cover {
  object-fit: cover;
  max-height: auto%;
  min-width: 325;
  max-width: 975;

}

.footer__payment-icons {
    display: table-footer-group;
    grid-gap: 8px;
    grid-template-columns: inherit;
    padding: auto;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    background: #1e1e1e;
    margin: 16px;
    text-align: center;
    }
    
footer a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 8px;
    /* font-weight: bold; */
    font-size: 16pt;
}  

footer ul{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    float: left; 
    }
    
footer :hover{
    background: transparent;
    color: #ff0000;
    }

div .copyright{
    text-align: center;
}


@media (max-width: 768px) {
   .show {
        background-color: #1e1e1e;
    }

.bar {
    height: 4pt;
    width: 16pt;
    background: #ffffff;
    transition: 0.5s;
}

.show .one {
    transform: rotate(45deg) translateY(5pt);
}

.show .two {
    transform: rotate(-45deg) translateY(-5pt);
}
    
.logo {
    position: block;
    margin: 2px auto;
    }
    
h1 , h2 , ul, ol, li, head, heading, mono {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt;
    leading: 1.2pt;
}

h3, h4, p , body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
    .nav-links {
        position: fixed;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        background: #ffffff;
        background-color: #1e1e1e;
        opacity: 100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
background-color 0.3s;
    }
    
    .nav-links a:hover{
    background: transparent;
    color: #ff0000;
    opacity: 100%;
    }
    
    .show .nav-links {
        height: 100%;
        background-color: #1e1e1e;
        opacity: 100%;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
background-color 0.3s;
    }
    
    .nav-links a {
        height: 0;
        width: 0;
        opacity: 100;
        overflow: hidden;
        margin-top: 48px;
        margin-right: 48px;
        margin-left: 48px;
        transition: opacity 1.5s, height 2s;
    }
    
    .show .nav-links a {
        opacity: 100;
        width: auto;
        height: auto;
    }
    
    .nav-icon {
        order: 1;
        display: grid;
    }
    
    .logo {
        order: 3;
        display: grid;
    }
.article {
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.article .a{
    text-decoration: none;
    text-align: center;
    postition: relative;
    
}

.article :hover{
    background: transparent;
    color: #ff0000;
    }

.article :img {
    display: grid;
    color: #000000;
    cursor: pointer;
    margin: 8 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

.tiles {
  display: grid;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  align-content: stretch;
  text-align: center;
  position: relative;
  justify-items: center;
  align-items: center;
  justify-content: center;
  }

  &
  __description {
    padding: 20px;
  display: block;
  h1 {font-size: 1.68em;
  margin-bottom: 16px;}
  h2 {font-size: 1.68em;
  margin-bottom: 16px;}
  p {line-height: 1.2;}
    
    .project-btn {
  display: block;
  margin: 16px 0;
  padding: 20px;
  text-align: center;
  border: 4pt solid #ffffff;

    }
  ul li {
      display: inline-block;
    }
  ul li:first-child {
      font-size: 16px;
    }
  ul li a {
      display: block;
  /* padding: 5px 10px; */
  /* border: 4pt solid #ffffff; */
  /* border-radius: 0px; */
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 168ms ease;
      &:
  hover {
        color: (#ff0000);
      }
    }
  }
;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.tiles .img {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

  .tiles a {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

h1 , h2 , ul, ol, li, head {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt ;
    leading: 1.2pt;
}

h3, h4, p, body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

u, hr {
    color: transparent;
    background-color: #ff0000;
    height: 4pt;
    border: 0pt;
}

a:link , a:visited {
    background-color: #1e1e1e;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a:active, a:hover {
    background-color: transparent;
    color: #ff0000;
}

img {
    color: transparent;
    cursor: pointer;
    margin: 8;
    align-content: center;
    text-align: center;
    position: relative;
}

.cover {
  object-fit: cover;
  max-height: auto%;
  min-width: 325;
  max-width: 975;

}

.footer__payment-icons {
    display: table-footer-group;
    grid-gap: 8px;
    grid-template-columns: inherit;
    padding: auto;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    background: #1e1e1e;
    margin: 16px;
    text-align: center;
    }
    
footer a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 8px;
    /* font-weight: bold; */
    font-size: 16pt;
}  

footer ul{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    float: left; 
    }
    
footer :hover{
    background: transparent;
    color: #ff0000;
    }

div .copyright{
    text-align: center;
}


@media (max-width: 480px) {
   .show {
        background-color: #1e1e1e;
    }

.bar {
    height: 4pt;
    width: 16pt;
    background: #ffffff;
    transition: 0.5s;
}

.show .one {
    transform: rotate(45deg) translateY(5pt);
}

.show .two {
    transform: rotate(-45deg) translateY(-5pt);
}
    
.logo {
    position: block;
    margin: 2px auto;
    }
    
h1 , h2 , ul, ol, li, head, heading, mono {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt;
    leading: 1.2pt;
}

h3, h4, p , body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
    .nav-links {
        position: fixed;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        background: #ffffff;
        background-color: #1e1e1e;
        opacity: 100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
            background-color 0.3s;
    }
    
    .nav-links a:hover{
    background: transparent;
    color: #ff0000;
    opacity: 100%;
    }
    
    .show .nav-links {
        height: 100%;
        background-color: #1e1e1e;
        opacity: 100%;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
            background-color 0.3s;
    }
    
    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-top: 48px;
        margin-right: 48px;
        margin-left: 48px;
        transition: opacity 1.5s, height 2s;
    }
    
    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
    }
    
    .nav-icon {
        order: 1;
        display: grid;
    }
    
    .logo {
        order: 3;
        display: grid;
    }
    
.article {
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.article .a{
    text-decoration: none;
    text-align: center;
    postition: relative;
    
}

.article :hover{
    background: transparent;
    color: #ff0000;
    }

.article :img {
    display: grid;
    color: #000000;
    cursor: pointer;
    margin: 8 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

.tiles {
  display: grid;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  align-content: stretch;
  text-align: center;
  position: relative;
  justify-items: center;
  align-items: center;
  justify-content: center;
  }

  &
  __description {
    padding: 20px;
  display: block;
  h1 {font-size: 1.68em;
  margin-bottom: 16px;}
  h2 {font-size: 1.68em;
  margin-bottom: 16px;}
  p {line-height: 1.2;}
    
    .project-btn {
  display: block;
  margin: 16px 0;
  padding: 20px;
  text-align: center;

    }
  ul li {
      display: inline-block;
    }
  ul li:first-child {
      font-size: 16px;
    }
  ul li a {
      display: block;
  /* padding: 5px 10px; */
  /* border: 4pt solid #ffffff; */
  /* border-radius: 0px; */
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 168ms ease;
      &:
  hover {
        color: (#ff0000);
      }
    }
  }
;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.tiles .img {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

  .tiles a {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

h1 , h2 , ul, ol, li, head {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt ;
    leading: 1.2pt;
}

h3, h4, p, body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

u, hr {
    color: transparent;
    background-color: #ff0000;
    height: 4pt;
    border: 0pt;
}

a:link , a:visited {
    background-color: #1e1e1e;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a:active, a:hover {
    background-color: transparent;
    color: #ff0000;
}

img {
    color: transparent;
    cursor: pointer;
    margin: 8;
    align-content: center;
    text-align: center;
    position: relative;
}

.cover {
  object-fit: cover;
  max-height: auto%;
  min-width: 325;
  max-width: 975;

}

.footer__payment-icons {
    display: table-footer-group;
    grid-gap: 8px;
    grid-template-columns: inherit;
    padding: auto;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    background: #1e1e1e;
    margin: 16px;
    text-align: center;
    }
    
footer a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 8px;
    /* font-weight: bold; */
    font-size: 16pt;
}  

footer ul{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    float: left; 
    }
    
footer :hover{
    background: transparent;
    color: #ff0000;
    }

div .copyright{
    text-align: center;
}
  
@media (max-width: 320px) {
    .show {
        background-color: #1e1e1e;
    }

.bar {
    height: 4pt;
    width: 16pt;
    background: #ffffff;
    transition: 0.5s;
}

.show .one {
    transform: rotate(45deg) translateY(5pt);
}

.show .two {
    transform: rotate(-45deg) translateY(-5pt);
}
    
.logo {
    position: block;
    margin: 2px auto;
    }
    
h1 , h2 , ul, ol, li, head, heading, mono {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt;
    leading: 1.2pt;
}

h3, h4, p , body {
    color: #ffffff;
    font-weight: normal;
    font-size: 12pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
    .nav-links {
        position: fixed;
        top: 44px;
        right: 0;
        height: 0;
        width: 100%;
        background: #ffffff;
        background-color: #1e1e1e;
        opacity: 100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
            background-color 0.3s;
    }
    
    .nav-links a:hover{
    background: transparent;
    color: #ff0000;
    opacity: 100%;
    }
    
    .show .nav-links {
        height: 100%;
        background-color: #1e1e1e;
        opacity: 100%;
        transition: height 2s cubic-bezier(0.19, 1, 0.22, 1),
            background-color 0.3s;
    }
    
    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-top: 48px;
        margin-right: 48px;
        margin-left: 48px;
        transition: opacity 1.5s, height 2s;
    }
    
    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
    }
    
    .nav-icon {
        order: 1;
        display: grid;
    }
    
    .logo {
        order: 3;
        display: grid;
    }
    
.article {
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.article .a{
    text-decoration: none;
    text-align: center;
    postition: relative;
    
}

.article :hover{
    background: transparent;
    color: #ff0000;
    }

.article :img {
    display: grid;
    color: #000000;
    cursor: pointer;
    margin: 8 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

.tiles {
  display: grid;
  color: #000000;
  cursor: pointer;
  margin: 0 auto;
  align-content: stretch;
  text-align: center;
  position: relative;
  justify-items: center;
  align-items: center;
  justify-content: center;
  }

  &
  __description {
    padding: 20px;
  display: block;
  h1 {font-size: 1.68em;
  margin-bottom: 16px;}
  h2 {font-size: 1.68em;
  margin-bottom: 16px;}
  p {line-height: 1.2;}
    
    .project-btn {
  display: block;
  margin: 16px 0;
  padding: 20px;
  text-align: center;

    }
  ul li {
      display: inline-block;
    }
  ul li:first-child {
      font-size: 16px;
    }
  ul li a {
      display: block;
  /* padding: 5px 10px; */
  /* border: 4pt solid #ffffff; */
  /* border-radius: 0px; */
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 168ms ease;
      &:
  hover {
        color: (#ff0000);
      }
    }
  }
;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.tiles .img {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

  .tiles a {
  display: block;
    color: #000000;
    cursor: pointer;
    margin: 0 auto;
    align-content: middle;
    text-align: center;
    position: relative;
}

h1 , h2 , ul, ol, li, head {
    color: #ffffff;
    font-weight: bold;
    font-size: 16pt ;
    leading: 1.2pt;
}

h3, h4, p, body {
    color: #ffffff;
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
}

pre {
    display: inline-table;
    color: #ffffff; 
    font-weight: normal;
    font-size: 16pt;
    leading: 1.2pt;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

u, hr {
    color: transparent;
    background-color: #ff0000;
    height: 4pt;
    border: 0pt;
}

a:link , a:visited {
    background-color: #1e1e1e;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a:active, a:hover {
    background-color: #1e1e1e;
    color: #ff0000;
}

nav-links :hover{
    background: #1e1e1e;
    color: #ff0000;
    }

nav-links:link , nav-links:visited {
    background-color: #1e1e1e;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

nav-links:active, nav-links:hover {
    background-color: #1e1e1e;
    color: #ff0000;
}

img {
    max-width: 100%;
    height: auto;
    color: transparent;
    display: static;
    cursor: pointer;
    margin: auto;
    align-content: center;
    text-align: center;
    position: relative;
}

.cover {
  object-fit: cover;
  max-height: auto%;
  min-width: 325;
  max-width: 975;

}

.footer__payment-icons {
    display: table-footer-group;
    grid-gap: 8px;
    grid-template-columns: inherit;
    padding: auto;
    height: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

footer {
    background: #1e1e1e;
    margin: 16px;
    text-align: center;
    }
    
footer a{
    display: inline-flex;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 8px;
    /* font-weight: bold; */
    font-size: 16pt;
}  

footer ul{
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    float: left; 
    }
    
footer :hover{
    background: transparent;
    color: #ff0000;
    }

div .copyright{
    text-align: center;
}